:root {
  /*background*/
  --very-dark-blue-main: hsl(268, 75%, 9%);
  --very-dark-blue-screen: hsl(268, 71%, 12%);
  --very-dark-blue-keypad: hsl(268, 71%, 12%);

  /*Keys*/
  --dark-blue-key-bg: hsl(281, 89%, 26%);
  --dark-blue-key-shadow: hsl(285, 91%, 52%);
  --red: hsl(176, 100%, 44%);
  --dark-red: hsl(177, 92%, 70%);
  --light-grey-key: hsl(268, 47%, 21%);
  --grey-orange: hsl(290, 70%, 36%);

  /*Text*/
  --dark-grey-blue: hsl(52, 100%, 62%);
  --text-color: hsl(52, 100%, 62%);
}
body {
  background: var(--very-dark-blue-main);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
h1,
h4 {
  font-weight: 700;
  color: var(--dark-grey-blue);
}
main {
  max-width: 500px;
  max-height: 700px;
  display: block;
  margin: 60px auto;
}
.row {
  display: flex;

  justify-content: space-between;
}
#screen {
  padding: 20px 30px;
  width: 90%;
  height: 48px;
  background-color: var(--very-dark-blue-screen);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 48px;
  line-height: 56px;
  text-align: right;
}
.keypad-container {
  padding: 30px;
  width: 90%;
  background-color: var(--very-dark-blue-keypad);
  border-radius: 5px;
  margin-top: 40px;
  height: 380px;
}
.reset-and-equal-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

button {
  background: var(--light-grey-key);
  color: var(--dark-grey-blue);
  font-family: "League Spartan", sans-serif;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button:hover {
  background: var(--grey-orange);
  cursor: pointer;
}
#equal-el {
  background: var(--red);
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}
#reset-el,
#del-el {
  background: var(--dark-blue-key-bg);
  color: var(--text-color);

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}
#reset-el:hover,
#del-el:hover,
#equal-el:hover {
  opacity: 0.8;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*toggle*/
.toggle-col li {
  color: var(--text-color);
  list-style: none;
}
.button {
  height: 16px;
  width: 16px;
  appearance: none;
  background-color: var(--red);
  border-radius: 50%;
  opacity: 0;
  margin-bottom: 3px;
}
.button:hover {
  cursor: pointer;
}
.tri-state-toggle {
  display: flex;
  justify-content: center;
  border: 3px solid var(--very-dark-blue-keypad);
  border-radius: 16px;
  background: var(--very-dark-blue-keypad);
}
#one {
  opacity: 1;
}
@media (max-width: 375px) {
  main {
    margin: 10px;
  }
  .keypad-container {
    padding: 16px;
    max-width: 360px;
    height: 360px;
  }
  #screen {
    padding: 20px 16px;
    width: 90%;
    color: var(--text-color);
    font-size: 42px;
    line-height: 52px;
    text-align: right;
  }
}
